div.loginContainer{
position: fixed;
right: 50px;
bottom: 50px;
color: #fff;
}
  div.loginContainer.active{
background: #813495;
padding: 10px;
}
div.loginContainer>div.main{
  display: none;
}
div.loginContainer>div.main.active{
 display: block;
background: #813495;
height: 50px;
font-size: 14px;
text-align: center;
}

div.loginContainer>div.main.active>span{
  display: block;
}
  div.loginContainer>div.main>span.usernameContainer{

}
 div.loginContainer>div.main>span.as{
font-weight: bold;
font-size: 17px;
}

div.loginContainer>div.main>button{
display: block;
margin: auto;
  margin-top: auto;
margin-top: 10px;
}
div.loginContainer>div.toggle{
  background: #813495;
  padding: 11px 20px;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}
div.loginContainer>div.toggle.active{
    padding: 0;
  border-radius: 0;
  display: inline;
  float: right;
}