div.loginContainer{
position: fixed;
right: 50px;
bottom: 50px;
color: #fff;
}
  div.loginContainer.active{
background: #26a69a;
padding: 10px;
}
div.loginContainer>div.main{
  display: none;
}
div.loginContainer>div.main.active{
 display: block;
background: #26a69a;
height: 50px;
font-size: 14px;
text-align: center;
}

div.loginContainer>div.main.active>span{
  display: block;
}
  div.loginContainer>div.main>span.usernameContainer{
    padding: 5px;
}
 div.loginContainer>div.main>span.as{
font-weight: bold;
font-size: 17px;
}

div.loginContainer>div.main>button{
  background: #26a69a;
  border: 2px solid white;
  padding: 0px;
  padding: 3px 9px;
}
div.loginContainer>div.toggle{
  background: #26a69a;
  padding: 11px 20px;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}
div.loginContainer>div.toggle.active{
    padding: 0;
  border-radius: 0;
  display: inline;
  float: right;
}